
<div class="container">
    <div class="footer-content">
        <div class="footer-box">
            <h4>Contact us</h4>
            <ul>
                <li><a href="#"><img
                            src="https://tse4.mm.bing.net/th?id=OIP.8FwWnLIkInhpkZVV--l_GgAAAA&pid=Api&P=0&h=180"
                            alt="logo"></a></li>
                <li>Liên hệ</li>
                <li>Bản quyền</li>
            </ul>
        </div>

        <div class="footer-box">
            <h4>Category</h4>
            <ul>
                <li>Category 1</li>
                <li>Category 2</li>
                <li>Category 3</li>

                <!-- Thêm các category khác -->
            </ul>
        </div>

        <div class="footer-box">
            <h4>About us</h4>
            <form class="footer-form">
                <input type="email" placeholder="Email">
                <br>
                <textarea placeholder="Nội dung"></textarea>
                <br>
                <button type="submit" class="btn btn-outline-warning">Send</button>
            </form>
        </div>
    </div>

    <div class="footer-end">
        <p>Copyright © 2023. All rights reserved.</p>
    </div>
</div>

