<div class="container-fluid">
    <form (ngSubmit)="onHandleSubmit()">
        <div class="form-group">
            <label for="id">ID:</label>
            <input type="text" class="form-control" id="id" name="id" disabled>
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" [(ngModel)]="comic.name" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="author">Author:</label>
            <select class="form-control" id="author_id" name="author_id" [(ngModel)]="comic.author_id" required>
                <option value="">Select an author</option>
                <option *ngFor="let author of authors" [value]="author._id">{{ author.name }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" [(ngModel)]="comic.description" name="description" rows="3"
                required></textarea>
        </div>
        <div class="form-group">
            <label for="story">Story:</label>
            <textarea class="form-control" id="story" [(ngModel)]="comic.story" name="story" rows="7"
                required></textarea>
        </div>
        <div class="form-group">
            <label for="image">Image:</label>
            <input type="text" class="form-control" id="image" [(ngModel)]="comic.images" name="image"
                placeholder="Image URL" required>
        </div>
        <div class="form-group">
            <label for="category">Category:</label>
            <select class="form-control" id="category_id" name="category_id" [(ngModel)]="comic.category_id" required>
                <option value="">Select a category</option>
                <option *ngFor="let category of categories" [value]="category._id">{{ category.name }}</option>
            </select>
        </div>
        <button type="submit" class="m-3 btn btn-primary">Add</button>
        <button class="btn btn-update bg-success btn-neutral">
            <a routerLink="/admin/comic">List Comic</a>
        </button>
    </form>
</div>