<div id="carouselExampleDark" class="carousel carousel-dark slide container">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active slide-animation">
            <img src="https://pops-images-vn.akamaized.net/api/v2/containers/file2/cms_assets/thumb_1920x1080__notext_-74b733a15710-1677820176303-e0UF4omJ.jpg?v=0&maxW=1400&format=webp"
                class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Đọa ký</h5>
                <p> Đọa Ký, nói về mười vị Giáo Chủ “Hộ Thiên Thần Giáo” mà ngay khi vừa ra đời đã bị định mệnh đặt lên
                    đôi vai quyền năng cũng như trách nhiệm của những vị Chúa Tể Bầu Trời. Thứ trách nhiệm đó đã làm bào
                    mòn dần "trái tim con người" bên trong họ, bằng lề luật và sự vận hành khốc liệt của vũ trụ suốt...
                </p>
            </div>
        </div>
        <div class="carousel-item slide-animation">
            <img src="https://pops-images-vn.akamaized.net/api/v2/containers/file2/cms_assets/mama_thumb_1920x1080__notext_-7eda23670e61-1663317409935-0MQEdwz5.jpg?v=0&maxW=1400&format=webp"
                class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Chủ nhân của Mặt Trời</h5>
                <p> Ba Yan, một cô gái xinh đẹp của tộc Si Yo nổi tiếng có khả năng chữa bệnh lại không được thừa hưởng
                    khả năng đặc biệt đó. Cô gái bị dân làng ruồng bỏ và mắng nhiếc thậm tệ. Ba Yan sẽ thay đổi định
                    mệnh của mình như thế nào đây?</p>
            </div>
        </div>
        <div class="carousel-item slide-animation">
            <img src="https://pops-images-vn.akamaized.net/api/v2/containers/file2/cms_assets/1920x1080___nologo_-11c62af52a54-1684904875011-MBpXtEhq.jpg?v=0&maxW=1400&format=webp"
                class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Mami chạy đi Papa tới rồi</h5>
                <p>Qủa là người đàn ông độc đoán! Lâm Chỉ không chỉ bị cướp mất đứa con, mà ngay cả trái tim mình cô
                    cũng không giữ được!.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>