<body>
    <div class="homePage">
        <h4 style="padding:30px 0 0 30px;margin-bottom:-10px ;">Truyen Hay</h4>
        <div class="truyen-hay">
            <div class="hay">
                <img src="https://toplist.vn/images/800px/an-khe-tra-vang-13416.jpg" alt="">
                <br>
                <b>Sự Tích Cây Khế</b>
                <br>
                <!-- <b>Trương 3</b> -->
            </div>
            <div class="hay">
                <img src="https://i.ytimg.com/vi/pUkQl5vG4NQ/maxresdefault.jpg" alt="">
                <br>
                <b>Nhổ Cải Cụ</b>
                <br>
                <!-- <b>Truong 1</b> -->
            </div>
            <div class="hay">
                <img src="https://i.ytimg.com/vi/OE1egLQ15NU/maxresdefault.jpg" alt="">
                <br>
                <b>Tấm Cám</b>
                <br>
                <!-- <b>Truong </b> -->
            </div>
            <div class="hay">
                <img src="https://i.ytimg.com/vi/-4k_jGi7PA0/maxresdefault.jpg" alt="">
                <br>
                <b>Nàng Tiên Ốc</b>
                <br>
                <!-- <b>Truong 1</b> -->
            </div>
            <div class="hay">
                <img src="https://i.ytimg.com/vi/k1FG3GtDYao/maxresdefault.jpg" alt="">
                <br>
                <b>Thỏ Con Không <br> Vâng Lời </b>
                <br>
                <!-- <b>Truong 2</b> -->
            </div>
            <div class="hay">
                <img src="https://i.pinimg.com/originals/f2/53/de/f253de720d6f9e0ef2651abf29594e41.jpg" alt="">
                <br>
                <b>Tích Chu</b>
                <br>
                <!-- <b>Truong 1</b> -->
            </div>
            <div class="hay">
                <img src="https://cdn.popsww.com/blog-kids/sites/3/2022/04/aQsEVS93-thanh-giong.jpg" alt="">
                <br>
                <b>Thánh Gióng</b>
                <br>
                <!-- <b>Truong 1</b> -->
            </div>
            <div class="hay">
                <img src="https://cdn.popsww.com/blog-kids/sites/3/2022/04/chu-cuoi-cung-trang.jpg" alt="">
                <br>
                <b>Chú Cuội <br> Cung Trăng</b>
                <br>
                <!-- <b>Truong 3</b> -->
            </div>
            <div class="hay">
                <img src="https://cdn.popsww.com/blog-kids/sites/3/2022/04/son-tinh-thuy-tinh.jpg" alt="">
                <br>
                <b>Sơn Tinh <br> Thủy Tinh</b>
                <br>
                <!-- <b>Truong 3</b> -->
            </div>
            <div class="hay">
                <img src="https://cdn.popsww.com/blog-kids/sites/3/2022/04/so-dua.jpg" alt="">
                <br>
                <b>Sọ Dừa</b>
                <br>
                <!-- <b>Truong 5</b> -->
            </div>
            <div class="hay">
                <img src="https://cdn.popsww.com/blog-kids/sites/3/2023/02/tat-ca-truyen-co-tich-viet-nam-.jpg" alt="">
                <br>
                <b>Ba Lưỡi Dìu</b>
                <br>
                <b>Truong 1</b>
            </div>

        </div>
        <div class="truyen-moi">
            <div>
                <h4>Truyện Mới Cập Nhật</h4>
            </div>
            <div class="truyen" *ngFor="let product of product">
                <div class="hot-time">
                    <b class="time">{{product.time}}</b>
                    <b class="hot">Hot</b>
                </div>
                <div class="name">
                    <a routerLink="{{product._id}}">
                        <img src={{product.images}} alt="image" class="image">
                        <b>{{product.name}}</b>
                    </a>
                </div>
                <p style="text-align: center;" class="chuong">Chương 3</p>
            </div>
        </div>
    </div>
</body>